.FileManager table {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  color: #333;
  width: 100%; }
  .FileManager table tr:not(:last-of-type) td {
    border-bottom: 1px solid #dfdfdf; }
  .FileManager table tr td,
  .FileManager table tr th {
    text-align: left; }
  .FileManager table tr th {
    border-bottom: 1px solid #dfdfdf;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1.6rem 0.8rem 0.8rem; }
  .FileManager table tr td {
    padding: 0.8rem; }
  .FileManager table tr:hover {
    background-color: #f4f4f4; }

.FileRow--Selected {
  background-color: #ececec; }

.FileRow__Checkbox {
  width: 2.4rem; }

.FileRow__Path div {
  display: flex;
  justify-content: space-between; }

.FileRow__Status {
  text-transform: capitalize; }

.TableActions {
  align-items: center;
  display: flex; }
  .TableActions__SelectAll {
    margin-right: 1.6rem; }
  .TableActions__SelectedCount {
    font-size: 1.8rem;
    margin-right: 4rem; }
  .TableActions__DownloadButton button {
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 0.4rem 0.8rem;
    transition: background-color 0.3s ease-in-out; }
    .TableActions__DownloadButton button:hover {
      background-color: #efefef; }
