$baseline:      .4rem;

$white:        #fff;
$black:        #000;
$grey:         #999;
$grey-light:   #ccc;
$grey-x-light: #efefef;
$grey-dark:      #333;
$color-success:  #74D245;

$base-border:    1px solid #e0e0e0;
$base-transition: .2s ease-in-out;
